#
# For a description of the syntax of this configuration file,
# see doc/kconfig/kconfig-language.txt.
#
mainmenu "myrootfs configuration"

# Magic marker used by build system
config DOT_CONFIG
	bool
	default y

source "system/Kconfig"
source "arch/Kconfig"
source "kernel/Kconfig"
source "lib/Kconfig"
source "packages/Kconfig"
source "user/Kconfig"

