choice
	prompt "Select Target Machine"
	default VERSATILE
     	depends on ARM

config VERSATILE
	bool "ARM Versatile-PB"

endchoice

config MACH
	string
	default "versatile" if VERSATILE
     	depends on ARM
