menu "Libraries"

config LIBMNL
       bool "libmnl, a minimalistic user-space Netlink library"
       help
	 libmnl is a minimalistic user-space library oriented to Netlink
	 developers. There are a lot of common tasks in parsing, validating,
	 constructing of both the Netlink header and TLVs that are repetitive
	 and easy to get wrong. This library aims to provide simple helpers
	 that allows you to re-use code and to avoid re-inventing the wheel. 
	 
	 https://www.netfilter.org/projects/libmnl/

config LIBPCAP
       bool "libpcap, the standard packet capture library"
       help
         Used by tcpdump and other tools to dissect network packets.
	 
	 http://www.tcpdump.org

config NCURSES
       bool "Ncurses"
       help
	 Programming library for text-based user interfaces. Provides
	 a replacement for the old BSD curses library, but also compat
	 libraries for termcap.
	 
	 http://invisible-island.net/ncurses/ncurses.html

config ZLIB
       bool "Zlib"
       help
	 Zlib is used by some apps
endmenu
